@model yalms.Models.IndexViewModel
@{
    ViewBag.Title = "Inställningar";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ändra kontoinställningar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Byt lösenord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Skapa lösenord", "SetPassword")
            }
            ]
        </dd>
        <dt>Externa&nbsp;inloggningar:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Inställningar", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Tvåfaktor&shy;auktorisering:</dt>
        <dd>
            <p>
                Det finns inga leverantörer för tvåfaktorauktorisering uppsatta. Se <a href="http://go.microsoft.com/fwlink/?LinkId=403804">denna artikel</a>
                för detaljer om hur du ställer in stöd för tvåfaktorauktorisering i&nbsp;denna ASP.NET-applikation.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
