@using yalms.CommonFunctions
@model yalms.Models.TeacherAssignmentViewModel
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<script src="~/Scripts/StudentMainView.js"></script>


<div>
    <div class="FirstsCol">
        @Html.Label("Klassinlämningsmappar", new { @class = "LabelClass" })
        @Html.DropDownListFor(m => m.FormSelectedSchoolClass,
                                         Model.ClassSelectionData, new { @id="classList", @class = "DDLClass" })


        <br />

        <br />
        <legend>Uppgifter att göra</legend>
        <p>
            @*Populate StudentAssignments*@
            @Html.ActionLink("Refresh", "LoadAllStudentAssgnments", "Teacher", Model, null)
            <br />
            <div id="AssignmentsTree">
                <ul>
                    @foreach (var course in Model.StudentAssignments)
                    {
                        <li class="jstree-open">
                            <a href="#"> @course.Title</a>
                            <ul>
                            @foreach (var student in course.Children)
                            {
                                <li class="jstree-closed">
                                <a href="#"> @student.Title</a>
                                <ul>
                                @foreach (var category in student.Children)
                                {
                                    <li class="jstree-open">
                                    <a href="#"> @category.Title</a>
                                    <ul>
                                            
                                    </ul>
                                    </li>
                                }
                                </ul>
                                </li>
                            }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <br />
        </p>
    </div>

    <div class="ThirdCol">
        @Html.Label("Ladda upp dokument för feedback", new { @class = "LabelClass" })
        <br />
        @Html.DropDownListFor(m => m.FormSelectedStudent,
                                                     Model.StudentSelectionData, new { @id = "studentList", @class = "DDLClass" })
        <br /><br />
        @Html.DropDownListFor(m => m.FormSelectedAssignment,
                                            Model.AssignmentSelectionData, new { @id="assignmentList", @class = "DDLClass" })
    </div>
</div>

<script type="text/javascript">

  


    $(function () {
        $('select#classList').change(function () {
            var classid = $(this).val();
            if (classid == "-1") {
                var select = $("#studentList");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "- Välj klass först -"
                }));

                var select = $("#assignmentList");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "- Välj klass först -"
                }));
            } else {

                $.getJSON("../Teacher/LoadStudentsByClass", { id: classid },
                       function (data) {
                           //alert('fetched');
                           var select = $("#studentList");
                           select.empty();
                           select.append($('<option/>', {
                               value: 0,
                               text: "- Välj student -"
                           }));
                           $.each(data, function (index, itemData) {
                               select.append($('<option/>', {
                                   value: itemData.Value,
                                   text: itemData.Text
                               }));
                           });
                       });

                $.getJSON("../Teacher/LoadAssignmentsByClass", { id: classid },
                       function (data) {
                           //alert('fetched');
                           var select = $("#assignmentList");
                           select.empty();
                           select.append($('<option/>', {
                               value: 0,
                               text: "- Välj Assigment -"
                           }));
                           $.each(data, function (index, itemData) {
                               select.append($('<option/>', {
                                   value: itemData.Value,
                                   text: itemData.Text
                               }));
                           });
                       });
            }
            //alert('finnish');
        });
    });

        </script>
        @*var ddl = $('#FormSelectedSchoolClass');


});


});*@

        @*<script type="text/javascript">
     $(document).ready(function () {
         $("#classList").change(function () {
             var cID = $(this).val();
             alert(cID);
             $.getJSON("../Teacher/LoadStudentsByClass", { classId: cID },
                    function (data) {
                        var select = $("#studentsList");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select a Student"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
         });
     });
    </script>*@


    <style>
        .FirstsCol {
            padding: 3px;
            float: left;
            display: inline-block;
            width: 760px;
            height: 400px;
        }


        .ThirdCol {
            /*padding: 3px;*/
            float: left;
            display: inline-block;
            width: 350px;
            height: 400px;
        }

        .DDLClass {
            width: 140px;
            font-size: 13px;
            clear: both;
        }

        .LabelClass {
            width: 100%;
            font-size: 13px;
            float: left;

        }
</style>