@model yalms.Models.AdminViewModel



<div class="form-group">
    @Html.Label("Namn", new { @class = "col-md-2 control-label" })
    @Html.TextBox("SelectedUserName", null, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("Epost", new { @class = "col-md-2 control-label" })
    @Html.TextBox("SelectedEmail", null,  new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("Telefon", new { @class = "col-md-2 control-label" })
    @Html.TextBox("SelectedPhoneNumber", null,
                                              new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.Label("Behörighet", new { @class = "col-md-2 control-label" })
    <div class="row">
        <div class="col-md-6">
            Elev
            @Html.RadioButton("SelectedRole", "student")
            Lärare
            @Html.RadioButton("SelectedRole", "teacher")
        </div>
    </div>
</div>
<input type="hidden" name="SelectedUserID" id="SelectedUserID" 
       value="@Model.SelectedUserID" />

