<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="TopLayout">
        <div class="MenuItem">
            @Html.ActionLink("yalms", "Index", "Home")
        </div>
        <div class="MenuItem">
            @Html.ActionLink("yalms", "Schedule", "Teacher")
        </div>
        <div class="MenuItem">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div>
        @RenderBody()

    <style>
        .TopLayout {
            display: inline-block;
            height: 35px;
            width: 100%; 

            color: #FFFFFF;
            background-color: #86869f;
            font-size: 23px;
            font-family: 'Segoe UI', 'verdana', 'Arial';
            padding: 3px 3px 6px 20px;
        }
     .MenuItem {
         padding-bottom: 50px;
     }
    </style>
</body>
</html>
