@model yalms.Models.SubmissionsNode

@{
    <a href="#">@Model.Title</a>
    if (Model.Children.Count > 0)
    {
        <ul>
            @foreach (var child in Model.Children)
            {
                <li>
                    @Html.Partial("_SubmissionNode", child)
                </li>
            }
        </ul>
    }
    else if (Model.Submissions.Count > 0)
    {
        <ul>
            @foreach (var node in Model.Submissions)
            {
                <li>
                    <a href="#">@node.assignment.Name</a> 
                    @if (yalms.Services.UploadPaths.FindSubmissionPaths(
                        node.AssignmentID, node.UserID).Length > 0)
                    {
                        <ul>
                            @foreach (var path in
                                yalms.Services.UploadPaths
                                .FindSubmissionURIs(
                                    node.AssignmentID, node.UserID)
                            ){
                                <li>
                                    <a href="@path">
                                         @Path.GetFileName(path)
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
}