@model yalms.Models.StudentMainViewModel
@{
    ViewBag.Title = "Uppgifter";
}
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/StudentMainView.js"></script>

<div class="row">

    <!-- Left column -->
    <div class="col-md-4">
        <br />
        <legend>Uppgifter att göra</legend>
        <p><br />
        <div id="AssignmentsTree">
            <ul>
                @foreach (var course in Model.Assignments)
                {
                    <li class="jstree-open">
                        <a href="#"> @course.Title</a>
                        <ul>
                            @foreach (var assignment in course.Assignments)
                            {
                                <li id="@assignment.AssignmentID">@assignment.Name</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <br />
        </p>
        <legend>Lämna in uppgift</legend>
        <p/>        
        @using (Html.BeginForm("PostAssignment", "Student", FormMethod.Post, 
                new { enctype = "multipart/form-data" }))
        {    
            <text>  
                Uppgift:
                <div id="assignmentLabel" style="display:inline-block">
                    (ej vald)
                </div> 
                <div style="padding-top:10px; padding-bottom:10px">
                    <input id="assignmentFile" name="assignmentFile" type="file" />
                </div>
        <input id="assignmentUploadBtn" type="submit" value="OK"
               class="btn btn-default"
               disabled="disabled" />
                <input type="hidden" name="assignmentId" id="assignmentId" value="-1"/>
            </text>
        }  
        @ViewBag.UploadMessage
    </div>


    <!-- Middle column -->
    <div class="col-md-4">
        <br />
        <legend>Schema @Model.SchoolClass</legend>
        <div>
            <div style="display:inline-block; float:left; font-size:1.2em">
                v @Model.WeekNr, @Model.Today.Year &bull;
                @Model.WeekDay @Model.Date
            </div>
            <div style="display:inline-block; float:right; font-size:1.2em">
                @Html.ActionLink("<< ", "MainViewPrevDay")
                @if (DateTime.Now.Date != Model.Today)
                {
                    @Html.ActionLink("Idag", "MainViewToday")
                }
                else
                {
                    <text>Idag</text>
                }
                @Html.ActionLink(" >>", "MainViewNextDay")
            </div>
        </div>
        <table class="table table-striped table-condensed">
            @foreach (var slot in Model.slots)
            {
                <tr>
                    <td style="text-align:center">@Model.SlotTimings[(int)slot.SlotNR].FormatFrom()</td>
                    <td>&ndash;</td>
                    <td style="text-align:center">@Model.SlotTimings[(int)slot.SlotNR].FormatTo()</td>
                    <td>@slot.Course.Name</td>
                    <td>@slot.Room.Description</td>
                </tr>
            }
        </table>
    </div>


    <!-- Right column -->
    <div class="col-md-4">
        <br />
        <legend>Feedback på uppgifter</legend>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

